
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<main class="container mt-4">
    <div class="row vh-100 align-items-center">
        <!-- Cột chữ bên trái -->
        <div class="col-md-6 d-flex flex-column justify-content-start">
            <h2>Chào mừng đến với cửa hàng nội thất DT</h2>
            <p class="lead">Chúng tôi mang đến cho bạn những giải pháp nội thất hiện đại và phong cách nhất.</p>
            <p>Sản phẩm của chúng tôi được thiết kế để biến ngôi nhà của bạn trở thành không gian sống hoàn hảo, từ phòng khách ấm cúng đến phòng ngủ thoải mái và sang trọng.</p>
            <p>Với đội ngũ tư vấn chuyên nghiệp và đa dạng các sản phẩm chất lượng cao, DT cam kết mang lại sự hài lòng và trải nghiệm mua sắm dễ dàng nhất cho bạn.</p>
            </div>

        <!-- Cột ảnh bên phải -->
        <div class="col-md-6 d-flex justify-content-center align-items-center bg-success">
            <img src="~/Images/logo.jpg" class="img-fluid rounded" alt="Nội thất hiện đại" style="width: 550px; height: 500px; aspect-ratio: 2 / 3; object-fit: cover;">
        </div>
    </div>
</main>


